<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>AdminFilter</filter-name>
  	<display-name>AdminFilter</display-name>
  	<description></description>
  	<filter-class>Filters.AdminFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>TeacherFilter</filter-name>
  	<display-name>TeacherFilter</display-name>
  	<description></description>
  	<filter-class>Filters.TeacherFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>StudentFilter</filter-name>
  	<display-name>StudentFilter</display-name>
  	<description></description>
  	<filter-class>Filters.StudentFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AdminFilter</filter-name>
  	<url-pattern>/teacher_reg.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AdminFilter</filter-name>
  	<url-pattern>/admin_home.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AdminFilter</filter-name>
  	<url-pattern>/generate_rolls.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AdminFilter</filter-name>
  	<url-pattern>/assign_exam_center.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>TeacherFilter</filter-name>
  	<url-pattern>/student_reg.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>TeacherFilter</filter-name>
  	<url-pattern>/teacher_home.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>TeacherFilter</filter-name>
  	<url-pattern>/enter_daily_attendance.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>StudentFilter</filter-name>
  	<url-pattern>/exam_form.jsp</url-pattern>
  </filter-mapping>
    <filter-mapping>
  	<filter-name>StudentFilter</filter-name>
  	<url-pattern>/student_home.jsp</url-pattern>
  </filter-mapping>
    <filter-mapping>
    	<filter-name>StudentFilter</filter-name>
    	<servlet-name>ExamForm</servlet-name>
    </filter-mapping>
  <servlet>
    <servlet-name>teachersubmit</servlet-name>
    <servlet-class>TeacherSubmit</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>studentsubmit</servlet-name>
    <servlet-class>StudentSubmit</servlet-class>
  </servlet>
   <servlet>
   	<servlet-name>ImageSend</servlet-name>
   	<display-name>ImageSend</display-name>
   	<description></description>
   	<servlet-class>imagehandler.ImageSend</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>GenerateRolls</servlet-name>
   	<display-name>GenerateRolls</display-name>
   	<description></description>
   	<servlet-class>general.GenerateRolls</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>GetAdmit</servlet-name>
   	<display-name>GetAdmit</display-name>
   	<description></description>
   	<servlet-class>general.GetAdmit</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>AssignExamCenter</servlet-name>
   	<display-name>AssignExamCenter</display-name>
   	<description></description>
   	<servlet-class>general.AssignExamCenter</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>SubmitExamForm</servlet-name>
   	<display-name>SubmitExamForm</display-name>
   	<description></description>
   	<servlet-class>general.SubmitExamForm</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>ExamForm</servlet-name>
   	<display-name>ExamForm</display-name>
   	<description></description>
   	<servlet-class>general.ExamForm</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>SessionStart</servlet-name>
   	<display-name>SessionStart</display-name>
   	<description></description>
   	<servlet-class>SessionStart</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>StartSemester</servlet-name>
   	<display-name>StartSemester</display-name>
   	<description></description>
   	<servlet-class>StartSemester</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>SubmitExamDates</servlet-name>
   	<display-name>SubmitExamDates</display-name>
   	<description></description>
   	<servlet-class>SubmitExamDates</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>SubmitSubjectsForSession</servlet-name>
   	<display-name>SubmitSubjectsForSession</display-name>
   	<description></description>
   	<servlet-class>SubmitSubjectsForSession</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>InternalMarksFetchSubjects</servlet-name>
   	<display-name>InternalMarksFetchSubjects</display-name>
   	<description></description>
   	<servlet-class>InternalMarksFetchSubjects</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>SubmitInternalMarks</servlet-name>
   	<display-name>SubmitInternalMarks</display-name>
   	<description></description>
   	<servlet-class>SubmitInternalMarks</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>ExternalMarksFetchSubjects</servlet-name>
   	<display-name>ExternalMarksFetchSubjects</display-name>
   	<description></description>
   	<servlet-class>ExternalMarksFetchSubjects</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>SubmitExternalMarks</servlet-name>
   	<display-name>SubmitExternalMarks</display-name>
   	<description></description>
   	<servlet-class>SubmitExternalMarks</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>GetExamResult</servlet-name>
   	<display-name>GetExamResult</display-name>
   	<description></description>
   	<servlet-class>GetExamResult</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>GetRollForAttendance</servlet-name>
   	<display-name>GetRollForAttendance</display-name>
   	<description></description>
   	<servlet-class>GetRollForAttendance</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>SubmitDailyAttendamce</servlet-name>
   	<display-name>SubmitDailyAttendamce</display-name>
   	<description></description>
   	<servlet-class>SubmitDailyAttendamce</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>FetchAttendanceDateWise</servlet-name>
   	<display-name>FetchAttendanceDateWise</display-name>
   	<description></description>
   	<servlet-class>FetchAttendanceDateWise</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>ReleaseAdmitCard</servlet-name>
   	<display-name>ReleaseAdmitCard</display-name>
   	<description></description>
   	<servlet-class>ReleaseAdmitCard</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>ReleaseResultCard</servlet-name>
   	<display-name>ReleaseResultCard</display-name>
   	<description></description>
   	<servlet-class>ReleaseResultCard</servlet-class>
   </servlet>
   <servlet-mapping>
    <servlet-name>teachersubmit</servlet-name>
    <url-pattern>/teacher_regsubmit</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>studentsubmit</servlet-name>
    <url-pattern>/student_regsubmit</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>ImageSend</servlet-name>
   	<url-pattern>/ImageSend</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>GenerateRolls</servlet-name>
   	<url-pattern>/genroll</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>GetAdmit</servlet-name>
   	<url-pattern>/getadmit</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>AssignExamCenter</servlet-name>
   	<url-pattern>/assignexamcenter</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>SubmitExamForm</servlet-name>
   	<url-pattern>/submitexamform</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>ExamForm</servlet-name>
   	<url-pattern>/examform</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>SessionStart</servlet-name>
   	<url-pattern>/start_session</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>StartSemester</servlet-name>
   	<url-pattern>/start_semester</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>SubmitExamDates</servlet-name>
   	<url-pattern>/submit_exam_dates</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>SubmitSubjectsForSession</servlet-name>
   	<url-pattern>/submitsubjectsforsession</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>InternalMarksFetchSubjects</servlet-name>
   	<url-pattern>/internalmarksfetchsubjects</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>SubmitInternalMarks</servlet-name>
   	<url-pattern>/submitinternalmarks</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>ExternalMarksFetchSubjects</servlet-name>
   	<url-pattern>/externalmarksfetchsubjects</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>SubmitExternalMarks</servlet-name>
   	<url-pattern>/submitexternalmarks</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>GetExamResult</servlet-name>
   	<url-pattern>/getexamresult</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>GetRollForAttendance</servlet-name>
   	<url-pattern>/getrollforattendance</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>SubmitDailyAttendamce</servlet-name>
   	<url-pattern>/submitdailyattendamce</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>FetchAttendanceDateWise</servlet-name>
   	<url-pattern>/fetchattendancedatewise</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>ReleaseAdmitCard</servlet-name>
   	<url-pattern>/releaseadmitcard</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>ReleaseResultCard</servlet-name>
   	<url-pattern>/releaseresultcard</url-pattern>
   </servlet-mapping>
</web-app>
